
.about{
    position: relative;
    height: 375px; 
    background-color: rgba(11, 11, 11, 1);
}

.aboutRow {
    margin-top: 100px;
    padding-right: 5px;
}

.leftBox{
/* UI */
    text-align: center;
    font:  300 85px/108px Azo,  Sans;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-top: 150px;
    


}

.rightBox{
    text-align: left;
    font: 12px/20px Azo, sans;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    margin-top: 120px;
}


.vl{
    border-left: 4px solid white;
    height: 295px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 90px;
}

