#Video {
    height: 400px;
    position: static;
    overflow: hidden;

} 

.backgroundVideo {
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
}

.landingLogo {
    height: 400px;
    width: 900px;
    align-items: center;
    margin-top: 40px;
    margin-left: 150px;
    
}
