.color-nav {
  background-color: rgba(33, 37, 41, 0) !important; 
  text-shadow: 3px 2px 5px black;
  color: white !important;
  margin-top: 0px;
  z-index: 5;

}


.aboutvl {
    border-left: 1px solid white;
    height: 1rem;
    position: absolute;
    left: 178px;
    margin-left: 1px;
    top: 1.3rem;
    opacity: 0.5;
  }

  .teamvl {
    border-left: 1px solid white;
    height: 1rem;
    position: absolute;
    left: 232px;
    margin-left: 1px;
    top: 1.3rem;
    opacity: 0.5;
  }

  .portfoliovl {
    border-left: 1px solid white;
    height: 1rem;
    position: absolute;
    left: 314px;
    margin-left: 1px;
    top: 1.3rem;
    opacity: 0.5;
  }

  .servicesvl {
    border-left: 1px solid white;
    height: 1rem;
    position: absolute;
    left: 390px;
    margin-left: 1px;
    top: 1.3rem;
    opacity: 0.5;
  }