.portfolio{
    position: absolute;
    height: 600px;
    background-color:#0B0B0B;
}

.leftTitle {
    position: relative;
    top: 70px;
    left: 50px;
    text-align: left;
    font: bold 80px/102px Azo, Sans;
    letter-spacing: 4px;
    color: #FFFFFF;
    text-shadow: 3px 3px 20px #000000D9;
}

.portfolioCarousel {
    position: relative;
    top: 100px;
    width: auto;
}   

.slidePic {
    position: relative;
    margin-left: 150px;
}

.slideBlurb {
    text-align: left;
    letter-spacing: 1.13px;
    color: #FFFFFF;
    text-shadow: 3px 3px 20px #000000D9;
    padding-top: 30px;
}

.title {
    margin-bottom: 50px;
}