.teamMeet {
    height: 900px;
    background-color: #0b0b0b;
    position: relative;
    margin-top: 155px;


}

.teamStars {
    background: transparent url(https://i.imgur.com/rLDFRYs.png) 0% 0% no-repeat padding-box;
    opacity: 0.5;
    height: 900px;
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
}


.topLeft {
    position: absolute;
    top: 170px;
    left: 50px;
    text-align: left;
    font: bold 80px/102px Azo, Sans;
    letter-spacing: 4px;
    color: #FFFFFF;
    text-shadow: 3px 3px 20px #000000D9;
}

.teamCarousel {
    position: relative;
    top: 250px;
    width: auto;
}   

.slidePic {
    position: relative;
    margin-left: 150px;
}

.slideBlurb {
    text-align: left;
    letter-spacing: 1.13px;
    color: #FFFFFF;
    text-shadow: 3px 3px 20px #000000D9;
    padding-top: 50px;
}

.title {
    margin-bottom: 50px;
}